#about.page
  .verticalline
    .scrollprevnext
  .pageheader
    %h3
      %span A
      bout
  #aboutscroller
    .content
      %h5 About Us
      The Window Replacement Company is a professional, independent installation team. They install windows and doors to existing homes in Winnipeg and the surrounding area.
      Their goal is to exceed your expectations for quality workmanship and to provide you the very best customer service possible. The philosophy is based on "the highest compliment a customer can give is the referral of friends, neighbors, and family". This business thrives on referrals from satisfied, happy customers.
      They will not consider your installation or service complete until you are completely satisfied!
    .content
      %h5 Some More
      %p
        The founder Len Beasse is still active in the company. and has been in the window business since
        1982
      %p The Window Replacement Company enjoys an A+ rating with The Better Business Bureau.
      %a{href: "http://www.bbb.org/manitoba/business-reviews/windows-and-doors/the-window-replacement-company-in-winnipeg-mb-13820"}
        %img{src: "http://www.bbb.org/manitoba/images/2/cbbb-badge-horz.png"}/
