#resume.page
  .verticalline
    .scrollprevnext
  .pageheader
    %h3
      %span> S
      ervices
  #resumescroller
    .content
      %h5 Services
      %p Replacements for the following:
      %ul
        %li Bay windows
        %li Bow windows
        %li Entry doors
        %li Storm doors
        %li PVC windows
        %li Wood Windows
        %li Enlarge openings
        %li Close openings
        %li Sealed units
    .content
      %h5 More
      %ul
        %li Installation of customer supplied windows
        %li Measuring and consultations for the do it yourselfer
        %li Discounted pricing on most name brand windows

